* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1138px;
  margin: auto;
}

.nav1 {
  background-color: #007878;
}
.nav1 .container1 {
  width: 1138px;
  height: 48px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav1 .container1 div {
  display: flex;
  align-items: center;
  color: white;
}
.nav1 .container1 div .faq {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.nav1 .container1 div a {
  height: 30px;
  text-decoration: none;
  color: white;
  margin-left: 18px;
  padding: 10px;
}
.nav1 .container1 div p {
  margin-left: 12px;
}

.nav2 .container2 {
  width: 1138px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.nav2 .container2 .sorch {
  display: flex;
  height: 158px;
  gap: 60px;
  align-items: center;
}
.nav2 .container2 .sorch .sing {
  position: relative;
}
.nav2 .container2 .sorch .sing input {
  width: 500px;
  height: 50px;
  border-radius: 8px;
}
.nav2 .container2 .sorch .sing .fa-magnifying-glass {
  position: absolute;
  top: 20px;
  right: 10px;
}
.nav2 .container2 .sorch .basket {
  display: flex;
  gap: 18px;
  font-size: 25px;
}

.nav3 {
  display: flex;
  justify-content: center;
}
.nav3 div {
  display: flex;
  width: 1138px;
  gap: 25px;
}
.nav3 div a {
  text-decoration: none;
  color: black;
}

.section1 {
  background-color: #ffe2e0;
  height: 584px;
  display: flex;
  justify-content: center;
}
.section1 .aboutbag {
  max-width: 1138px;
  width: 100%;
  display: flex;
}
.section1 .aboutbag div {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  gap: 20px;
}
.section1 .aboutbag div h2 {
  color: #df4244;
}
.section1 .aboutbag div h1 {
  font-size: 40px;
}
.section1 .aboutbag div a {
  text-decoration: none;
  font-size: 16px;
  background-color: #206363;
  padding: 10px 20px;
  border: 1px solid;
  height: 52px;
  width: 192px;
  text-align: center;
  color: white;
  border-radius: 8px;
}

.section2 {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.section2 .menu {
  max-width: 1138px;
  width: 100%;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .menu div {
  font-size: 20px;
  display: flex;
  gap: 10px;
}
.section2 .menu div i {
  color: #007878;
}

.section3 {
  display: flex;
  justify-content: center;
}
.section3 .bags {
  max-width: 1138px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section3 .bags div {
  width: 264px;
  height: 160px;
  border-radius: 8px;
  background-color: #f5f5f5;
  position: relative;
}
.section3 .bags div img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.section3 .bags div p {
  position: absolute;
  left: 25px;
  top: 25px;
}

.section4 {
  display: flex;
  justify-content: center;
}
.section4 .FeaturedProducts {
  max-width: 1138px;
  width: 100%;
  height: px;
}
.section4 .nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
}
.section4 .shopping {
  display: flex;
  gap: 25px;
}
.section4 .shopping .div1 {
  width: 33.333%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  position: relative;
  gap: 10px;
}
.section4 .shopping .div1 h6 {
  text-align: center;
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #43d167;
}
.section4 .shopping .div1 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section4 .shopping .div1 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section4 .shopping .div1 img {
  height: 210px;
  width: 218px;
}
.section4 .shopping .div2 {
  width: 33.333%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  position: relative;
  gap: 10px;
  text-align: center;
}
.section4 .shopping .div2 h6 {
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #df4244;
}
.section4 .shopping .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section4 .shopping a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section4 .shopping img {
  height: 243px;
  width: 218px;
  margin: auto;
}
.section4 .div3 {
  position: relative;
  width: 33.333%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  gap: 10px;
}
.section4 .div3 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section4 .div3 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section4 .div3 img {
  height: 243px;
  width: 218px;
  margin: auto;
}

.section5 {
  padding: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff7f7;
}
.section5 .Bestseller {
  max-width: 1138px;
  width: 100%;
  height: px;
}
.section5 .nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
}
.section5 .shopping {
  display: flex;
  gap: 25px;
}
.section5 .shopping .div1 {
  width: 33.333%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  gap: 10px;
}
.section5 .shopping .div1 h6 {
  text-align: center;
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #43d167;
}
.section5 .shopping .div1 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section5 .shopping .div1 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section5 .shopping .div1 img {
  height: 243px;
  width: 218px;
  margin: auto;
}
.section5 .shopping .div2 {
  width: 33.333%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  gap: 10px;
}
.section5 .shopping .div2 h6 {
  text-align: center;
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #df4244;
}
.section5 .shopping .div2 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section5 .shopping .div2 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section5 .shopping .div2 img {
  height: 243px;
  width: 218px;
  margin: auto;
}
.section5 .shopping .div3 {
  position: relative;
  width: 33.333%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
}
.section5 .shopping .div3 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section5 .shopping .div3 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section5 .shopping .div3 img {
  height: 243px;
  width: 218px;
  margin: auto;
}

.section6 {
  padding: 40px;
  display: flex;
  justify-content: center;
  background-color: #fff7f7;
}
.section6 .DiscountProducts {
  max-width: 1138px;
  width: 100%;
  height: px;
}
.section6 .nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
}
.section6 .shopping {
  display: flex;
  gap: 25px;
}
.section6 .shopping .div1 {
  width: 33.333%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  gap: 10px;
}
.section6 .shopping .div1 h6 {
  text-align: center;
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #43d167;
}
.section6 .shopping .div1 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section6 .shopping .div1 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section6 .shopping .div1 img {
  height: 220px;
  width: 218px;
  margin: auto;
}
.section6 .shopping .div2 {
  width: 33.333%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  gap: 10px;
}
.section6 .shopping .div2 h6 {
  text-align: center;
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #43d167;
}
.section6 .shopping .div2 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section6 .shopping .div2 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section6 .shopping .div2 img {
  height: 243px;
  width: 218px;
  margin: auto;
}
.section6 .shopping .div3 {
  position: relative;
  width: 33.333%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 10px;
}
.section6 .shopping .div3 h6 {
  text-align: center;
  padding: 11px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  background-color: #43d167;
}
.section6 .shopping .div3 .fa-heart {
  color: #df4244;
  position: absolute;
  top: 10px;
  right: 10px;
}
.section6 .shopping .div3 a {
  text-decoration: none;
  text-align: center;
  height: 30px;
  max-width: 90%;
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.section6 .shopping .div3 img {
  height: 220px;
  width: 218px;
  margin: auto;
}

footer {
  background-color: #F7F7F9;
}
footer .snobella {
  max-width: 1138px;
  margin-left: 200px;
}
footer .snobella .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .snobella .search div {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}
footer .snobella .search div i {
  position: absolute;
  right: 10px;
  display: flex;
}
footer .snobella .search div input {
  height: 48px;
  width: 504px;
  border-radius: 8px;
}
footer .foter {
  display: flex;
}
footer .foter .snobellagmail {
  margin: 40px;
}
footer .foter .snobellagmail p {
  max-width: 150px;
}
footer .foter .snobellagmail div {
  display: flex;
  margin-top: 20px;
}
footer .foter .div1 {
  margin: 40px;
  margin-left: 180px;
}/*# sourceMappingURL=main.css.map */